.p-slots {
  .page {
    width: 90%;
    position: relative;
    margin: 15px auto;
    outline: 1px solid #bcb5b9;
  }
  .createSlot {
    border: 1px dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}
