.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.item-enter, .item-appear {
  opacity: 0;
  transform: scale(0.3);
}

.item-enter-active, .item-appear-active {
    opacity: 1;
    transform: none;
    transition: all 0.5s ease;
}

.item-exit {
  opacity: 1;
  transform: none;
}

.item-exit-active {
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.5s ease;
}
