.p-sign-up {
  display: flex;
  padding-top: 124px;

  .illustration {
    display: flex;
    width: 50%;
    justify-content: end;

    img {
      height: min-content;
      max-height: 80%;
      align-self: center;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    color: #554d56;

    h1 {
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
    }
  }

  .content > p {
    font-size: 15px;
    line-height: 18px;
  }

  .content {
    hr {
      margin: 31px 104px;
      width: 40px;
      height: 2px;
      opacity: 0.5;
      border-radius: 1px;
      background-color: #edeced;
    }
  }

  .footer {
    font-size: 15px;
    line-height: 18px;
    color: #554d56;
  }

  a,
  a:visited {
    color: #419bf9;
    font-weight: 500;
    text-decoration: none;
  }
}
