.c-input {
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  border: 0;
  background-color: #eeeeee;
  height: 40px;
  font-size: 15px;
  color: #554d56;
  caret-color: #419bf9;
  outline-color: #419bf9;
}
